/* You can add global styles to this file, and also import other style files */
* {
    box-sizing: border-box;
    margin:0; 
}

body {
    background-color: powderblue;
}

ul {
    list-style-type: none;
    margin-left: 0%;
    padding-left: 0%;
}

:root {
    --fieldSize: 250px;
    --itemHeight: 30px;
    --buttonWidth: calc(var(--fieldSize) / 3);
}